watch_file scripts/prepare-env.ps1

if has pwsh; then
  _powershell=pwsh
elif has powershell.exe; then
  _powershell=powershell.exe
else
  log_error "PowerShell is required to load scripts/prepare-env.ps1"
  exit 1
fi

eval "$($_powershell -NoProfile -File scripts/prepare-env.ps1 -EmitDirenv)"
unset _powershell
